@import url("/styles/header.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root{
    --cor-de-fundo: #EBECEE;
    --branco: #ffffff;
    --fonte-principal: "Poppins",sans-serif;
    --fonte-regular: 400;
    --fonte-medium: 500;
    --fonte-bold:700;

}

body{
    background-color: var(--cor-de-fundo);
}
